<!--   ! Doc Links !
 Quill: https://quilljs.com/docs/quickstart
 HTMX: https://htmx.org/examples/file-upload/
-->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>BrLib Editor</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <link rel="stylesheet" href="src/static/style.css">
</head>

<!-- start template -->
    <body class="body">
      

        
        <div class="main-pane">
        <!------------------------------------------------ 
                        Side Bar 
        --------------------------------------------------->
        {{ template "sidebar" . }}
            
            <h1>Editor</h1>
            
            <!------------------------------------------------ 
              HTMX Submission Form for external files to Editor 
            --------------------------------------------------->
            <form hx-encoding='multipart/form-data' hx-post='/upload'
                  _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'
                class="submission-form"
            >
                <input type='file' name='file'>
                <button>Upload</button>
                <progress id='progress' value='0' max='100'></progress> 
            </form>

            
            <!------------------------------------------------ 
                            Quill Text Editor  
            --------------------------------------------------->
            <div id="editor" class="editor">
                <script>
                    const options = {
                        theme: 'snow',
                        syntax: true,
                        modules : {
                            toolbar: null
                        }
                    }
                    const quill = new Quill('#editor', options);
                </script>
            </div>

        </div>

    </body>
</html>



