<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
   <title>BrLib Login</title>
   <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body class="bg-git_black_lite">

    <h1 class="p-2 text-2xl text-center text-git_red">Welcome to BrLib</h1>

    <div class="h-screen flex items-center justify-center text-center">
	    <form>
        <label class="text-git_yellow" for="email">Email</label>
        <br>
        <input type="text" name="name" id="name" required/>
        <br>
        <label class="text-git_yellow"for="password">Password</label>
        <br>
        <input type="password" required/>
       </form>
    </div>

</body>
</html>
