<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>BrLib Login</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="src/static/style.css">
</head>

<body>
    {{ template "sidebar" . }}

    <h1>Welcome to BrLib</h1>

    <div>
	    <form>
        <label for="email">Email</label>
        <br>
        <input type="text" name="name" id="name" required/>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" required/>
       </form>
    </div>

</body>
</html>
