<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrLib Archive</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="src/static/style.css">
</head>


    <body class="body">
    {{ template "sidebar" . }}        
       <div class="main-pane">
            
            <h1>Archive</h1>
           

            <!-------------------------------------------------
                               Main Table
            -------------------------------------------------->
            <table class="table">
                <caption>Story Archive</caption>
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Author</th>
                        <th scope="col">Published</th>
                        <th scope="col">Stars</th>
                        <th scope="col">Donated</th>
                        <th scope="col">NSFW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Rainy Town</th>
                        <th scope="row">Mystery</th>
                        <th scope="row">John Jacobs</th>
                        <th scope="row">1/1/1976</th>
                        <th scope="row">3.5</th>
                        <th scope="row">1M</th>
                        <th scope="row">Y</th>
                    </tr>
                </tbody>
            </table>
        </div>

</body>
</html>

