
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrLib Archive</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/src/output.css">
</head>

<body class="bg-git_black_lite">

    <h1 class="p-2 text-2xl text-center text-git_red">Archive</h1>
    <div class="h-screen flex justify-center items-center">
        <table class="border-separate border-spacing-0 border border-white text-center">
            <caption class="text-white text-lg mb-2">Story Archive</caption>
            <thead class="text-git_purple border-white">
                <tr>
                    <th scope="col" class="px-6 py-3 border border-white">Title</th>
                    <th scope="col" class="px-6 py-3 border border-white">Genre</th>
                    <th scope="col" class="px-6 py-3 border border-white">Author</th>
                    <th scope="col" class="px-6 py-3 border border-white">Published</th>
                    <th scope="col" class="px-6 py-3 border border-white">Stars</th>
                    <th scope="col" class="px-6 py-3 border border-white">Donated</th>
                    <th scope="col" class="px-6 py-3 border border-white">NSFW</th>
                </tr>
            </thead>
            <tbody class="text-git_dark_white">
                <tr>
                    <th scope="row" class="px-6 py-3 border border-white">Rainy Town</th>
                    <th scope="row" class="px-6 py-3 border border-white">Mystery</th>
                    <th scope="row" class="px-6 py-3 border border-white">John Jacobs</th>
                    <th scope="row" class="px-6 py-3 border border-white">1/1/1976</th>
                    <th scope="row" class="px-6 py-3 border border-white">3.5</th>
                    <th scope="row" class="px-6 py-3 border border-white">1M</th>
                    <th scope="row" class="px-6 py-3 border border-white">Y</th>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

